* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(30, 30, 30);
  color: #cfb53b;
}

.title {
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

hr {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #cfb53b;
  height: 3px;
  border: none;
  border-radius: 2px;
}
input:focus::placeholder {
  color: transparent;
}

input:focus {
  border: 3px solid #cfb53b;
}

.amount-container {
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.currency-input {
  background-color: #fff;
  height: 70px;
  border-radius: 30px;
  text-align: center;
  font-size: larger;
  color: black;
  border: none;
  cursor: pointer;
}

.currency-input:hover {
  border: 3px solid #cfb53b;
}

.currency-input::-webkit-outer-spin-button,
.currency-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.convert-btn {
  cursor: pointer;
  border: none;
}

.converted-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 30px;
}

.converted-container p {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  color: black;
}

.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-box select {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.exchange-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exchange-rate p {
  padding-bottom: 15px;
}
